<html>
<head>
{% load static %}
    <title>{% block title %}四川省科技厅大数据决策分析平台{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS样式设计 -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-dist/css/bootstrap.css"  />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-dist/css/bootstrap-theme.css"  />
    <!-- 换肤 -->
    <link rel="stylesheet" type="text/css" href="/static/css/cloud-admin.css" />
    <link rel="stylesheet" type="text/css"  href="/static/css/themes/default.css" id="skin-switcher" />

    <link rel="stylesheet" type="text/css"  href="/static/css/responsive.css"  />
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="../../static/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link href="/static/font-awesome/css/font-awesome.min.css"  rel="stylesheet"/>
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="/static/css/animatecss/animate.min.css"  />
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-daterangepicker/daterangepicker-bs3.css"  />


    <!-- TODO -->
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-todo/css/styles.css" />
    <!-- FULL CALENDAR -->
    <link rel="stylesheet" type="text/css" href="/static/js/fullcalendar/fullcalendar.min.css" />
    <!-- GRITTER -->
    <link rel="stylesheet" type="text/css" href="/static/js/gritter/css/jquery.gritter.css" />
    <!-- FONTS -->
    <!-- <link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'> -->
</head>
<body>
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        <div class="container">
                <div class="navbar-brand">
                    <!-- COMPANY LOGO -->
                    <a href="index.html">
                        <img src="/static/img/logo/logo.png" alt="大数据决策分析" class="img-responsive" height="30" width="120">
                    </a>
                    <!-- /COMPANY LOGO -->
                    <!-- TEAM STATUS FOR MOBILE -->
                    <div class="visible-xs">
                        <a href="#" class="team-status-toggle switcher btn dropdown-toggle">
                            <i class="fa fa-users"></i>
                        </a>
                    </div>
                    <!-- /TEAM STATUS FOR MOBILE -->
                    <!-- SIDEBAR COLLAPSE -->
                    <div id="sidebar-collapse" class="sidebar-collapse btn">
                        <i class="fa fa-bars"
                            data-icon1="fa fa-bars"
                            data-icon2="fa fa-bars" ></i>
                    </div>
                    <!-- /SIDEBAR COLLAPSE -->
                </div>
                <!-- NAVBAR LEFT -->
            <!--     <ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                            <span class="name">皮肤</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu skins">
                            <li class="dropdown-title">
                                <span><i class="fa fa-leaf"></i> 皮肤主题 </span>
                            </li>
                            <li><a href="#" data-skin="默认">天蓝 (默认)</a></li>
                            <li><a href="#" data-skin="night">深蓝</a></li>
                            <li><a href="#" data-skin="earth">棕色</a></li>
                            <li><a href="#" data-skin="utopia">乌托邦</a></li>
                            <li><a href="#" data-skin="nature">自然绿</a></li>
                            <li><a href="#" data-skin="graphite">石墨黑</a></li>
                         </ul>
                    </li>
                </ul> -->
                <!-- /NAVBAR LEFT -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown" id="header-notification">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge">7</span>
                        </a>
                        <ul class="dropdown-menu notification">
                            <li class="dropdown-title">
                                <span><i class="fa fa-bell"></i> 5 消息通知</span>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-success"><i class="fa fa-user"></i></span>
                                    <span class="body">
                                        <span class="message">5 用户在线. </span>
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i>
                                            <span>刚刚</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-warning"><i class="fa fa-lock"></i></span>
                                    <span class="body">
                                        <span class="message">DW1 服务器停止.</span>
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i>
                                            <span>32 分钟前</span>
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li class="footer">
                                <a href="#">查看所有通知信息 <i class="fa fa-arrow-circle-right"></i></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN TODO DROPDOWN -->
                    <li class="dropdown user" id="header-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img alt="" src="/static/img/avatars/avatar3.jpg" />
                            <span class="username">王定国</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i>个人简介</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> 账号设置</a></li>
                            <li><a href="login.html"><i class="fa fa-power-off"></i>退 出</a></li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
        </div>
    </header>
    <!--/HEADER -->
    <div class="copyrights">Collect from <a href="http://www.mycodes.net/" >源码之家</a></div>
    <!-- PAGE -->
    <section id="page">
                <!-- SIDEBAR -->
                <div id="sidebar" class="sidebar">
                    {% include 'xmjc/nav.html' %}
                </div>
                <!-- /SIDEBAR -->
        <div id="main-content">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12">
                        <!-- PAGE HEADER-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header">
                                    <!-- STYLER -->

                                    <!-- /STYLER -->
                                    <!-- BREADCRUMBS -->
                                    <ul class="breadcrumb">
                                        <li>
                                            <i class="fa fa-home"></i>
                                            <a href="{% url 'index' %}">首页  </a>
                                        </li>
                                        <li>
                                        <!-- 左侧主菜单 -->
                                        {% block lnav %}
                                        菜单导航
                                        {% endblock %}

                                        </li>
                                    </ul>
                                    <!-- /BREADCRUMBS -->
                                    <div class="clearfix">
                                        <h3 class="content-title pull-left">
                                        {{ lnav }}
                                        </h3>
                                    </div>
                                    <div class="description">
                                    {{ lcontent }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /PAGE HEADER -->
                        {% block content %}


                        <p>此处为主要内容</p>

                        {% endblock %}

                        <!-- /CALENDAR & CHAT -->
                        <div class="footer-tools">
                            <span class="go-top">
                                <i class="fa fa-chevron-up"></i> 顶部
                            </span>
                        </div>
                    </div><!-- /CONTENT-->
                </div>
            </div>
        </div>
    </section>

        <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQUERY -->
     <script src="/static/js/jquery/jquery-2.0.3.min.js"></script>
    <!-- JQUERY UI-->
    <script src="/static/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="/static/bootstrap-dist/js/bootstrap.min.js"></script>


    <!-- DATE RANGE PICKER -->
    <script src="/static/js/bootstrap-daterangepicker/moment.min.js"></script>

    <script src="/static/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <!-- SLIMSCROLL -->
    <script type="text/javascript" src="/static/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
    <!-- SLIMSCROLL -->
    <script type="text/javascript" src="/static/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script><script type="text/javascript" src="/static/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
    <!-- BLOCK UI -->
    <script type="text/javascript" src="/static/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
    <!-- SPARKLINES -->
    <script type="text/javascript" src="/static/js/sparklines/jquery.sparkline.min.js"></script>
    <!-- EASY PIE CHART -->
    <script src="/static/js/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/static/js/easypiechart/jquery.easypiechart.min.js"></script>

    <!-- FLOT CHARTS -->
    <script src="/static/js/flot/jquery.flot.min.js"></script>
    <script src="/static/js/flot/jquery.flot.time.min.js"></script>
    <script src="/static/js/flot/jquery.flot.selection.min.js"></script>
    <script src="/static/js/flot/jquery.flot.resize.min.js"></script>
    <script src="/static/js/flot/jquery.flot.pie.min.js"></script>
    <script src="/static/js/flot/jquery.flot.stack.min.js"></script>
    <script src="/static/js/flot/jquery.flot.crosshair.min.js"></script>
    <!-- TODO -->
    <script type="text/javascript" src="/static/js/jquery-todo/js/paddystodolist.js"></script>
    <!-- TIMEAGO -->
    <script type="text/javascript" src="/static/js/timeago/jquery.timeago.min.js"></script>
    <!-- FULL CALENDAR -->
    <script type="text/javascript" src="/static/js/fullcalendar/fullcalendar.min.js"></script>
    <!-- COOKIE -->
    <script type="text/javascript" src="/static/js/jQuery-Cookie/jquery.cookie.min.js"></script>
    <!-- GRITTER -->
    <script type="text/javascript" src="/static/js/gritter/js/jquery.gritter.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="/static/js/script.js"></script>

    <script>
        jQuery(document).ready(function() {
            App.setPage("base");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>

