<div class="sidebar-menu nav-collapse">
    <div class="divide-20"></div>
    <!-- SEARCH BAR -->
    <div id="search-bar">
        <input class="search" type="text" placeholder="查找"><i class="fa fa-search search-icon"></i>
    </div>
    <!-- /SEARCH BAR -->

    <!-- SIDEBAR QUICK-LAUNCH -->
    <!-- <div id="quicklaunch">
    <!-- /SIDEBAR QUICK-LAUNCH -->

    <!-- SIDEBAR MENU -->
    <ul>
        <li class="active">
            <a href="{% url 'index' %}">
            <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">大数据决策分析</span>
            <span class="selected"></span>
            </a>
        </li>
        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">项目统计分析</span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="{% url 'xmksh' %}"><span class="sub-menu-text">可视化统计图形测试</span></a></li>
                <li><a class="" href="{% url 'xmjf' %}"><span class="sub-menu-text">项目经费统计</span></a></li>
                <li><a class="" href=""><span class="sub-menu-text">项目数量统计</span></a></li>
                <li><a class="" href=""><span class="sub-menu-text">项目区域统计</span></a></li>
                <li><a class="" href="charts/xmlb.html"><span class="sub-menu-text">项目类别统计</span></a></li>
                <li class="has-sub-sub">
                    <a href="javascript:;" class=""><span class="sub-menu-text">项目结题统计</span>
                    <span class="arrow"></span>
                    </a>
                    <ul class="sub-sub">
                        <li><a class="" href="charts/xmjfjt.html"><span class="sub-sub-menu-text">结题成功统计</span></a></li>
                        <li><a class="" href="charts/xmjfbjt.html"><span class="sub-sub-menu-text">结题失败统计</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-table fa-fw"></i> <span class="menu-text">市县州主题分析</span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="simple_table.html"><span class="sub-menu-text">各区域项目分布</span></a></li>
                <li><a class="" href="dynamic_tables.html"><span class="sub-menu-text">各区域经费分布</span></a></li>
                <li><a class="" href="jqgrid_plugin.html"><span class="sub-menu-text">各区域课题分布</span></a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-pencil-square-o fa-fw"></i> <span class="menu-text">高校项目分布</span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="forms.html"><span class="sub-menu-text">高校项目分布</span></a></li>
                <li><a class="" href="wizards_validations.html"><span class="sub-menu-text">高校经费分布</span></a></li>
                <li><a class="" href="wizards_validations.html"><span class="sub-menu-text">高校课题分布</span></a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-bar-chart-o fa-fw"></i> <span class="menu-text">年报分析</span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="flot_charts.html"><span class="sub-menu-text">年度结题情况</span></a></li>
                <li><a class="" href="xcharts.html"><span class="sub-menu-text">年度经费情况</span></a></li>

                <li><a class="" href="others.html"><span class="sub-menu-text">年度课题情况</span></a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-columns fa-fw"></i> <span class="menu-text">专家人员统计分析</span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="mini_sidebar.html"><span class="sub-menu-text">专家年龄统计</span></a></li>
                <li><a class="" href="fixed_header.html"><span class="sub-menu-text">专家学术领域统计</span></a></li>
                <li><a class="" href="fixed_header_sidebar.html"><span class="sub-menu-text">专家评审资格年限统计</span></a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-map-marker fa-fw"></i>
            <span class="menu-text">评奖情况统计分析</span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="google_maps.html"><span class="sub-menu-text">奖项类别</span></a></li>
                <li><a class="" href="vector_maps.html"><span class="sub-menu-text">奖项记录</span></a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-file-text fa-fw"></i> <span class="menu-text">机器学习算法库</span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="login.html"><span class="sub-menu-text">朴素贝叶斯算法</span></a></li>
                <li><a class="" href="user_profile.html"><span class="sub-menu-text">分类算法</span></a></li>

                <li><a class="" href="chats.html"><span class="sub-menu-text">聚类算法</span></a></li>

            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-file-text fa-fw"></i> <span class="menu-text">可视化图形库</span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="login.html"><span class="sub-menu-text">条形图</span></a></li>
                <li><a class="" href="user_profile.html"><span class="sub-menu-text">折线图</span></a></li>
                <li><a class="" href="chats.html"><span class="sub-menu-text">地图</span></a></li>

            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-briefcase fa-fw"></i> <span class="menu-text">数据预处理<span class="badge pull-right">3</span></span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="search_results.html"><span class="sub-menu-text">网络爬虫</span></a>
                </li>
                <li><a class="" href="email_templates.html"><span class="sub-menu-text">数据清洗</span></a>
                </li>
                <li><a class="" href="error_404.html"><span class="sub-menu-text">数据拼装</span></a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="javascript:;" class="">
            <i class="fa fa-briefcase fa-fw"></i> <span class="menu-text">基础算法库<span class="badge pull-right">3</span></span>
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="search_results.html"><span class="sub-menu-text">PDF转换</span></a>
                </li>
                <li><a class="" href="email_templates.html"><span class="sub-menu-text">发送邮件</span></a>
                </li>
                <li><a class="" href="error_404.html"><span class="sub-menu-text">信息查重</span></a></li>
            </ul>
        </li>


        <!-- 单独页面左右跳转参照此模板 -->
        <li><a class="" href="inbox.html"><i class="fa fa-envelope-o fa-fw"></i> <span class="menu-text">邮件</span></a></li>

        <li><a class="" href="widgets_box.html"><i class="fa fa-th-large fa-fw"></i>
        <span class="menu-text">系统设置
                <span class="tooltip-error pull-right" title="" data-original-title="3 New Events">
                    <span class="label label-success">新</span>
                </span>
        </span>
        </a></li>

        <!-- 单独页面跳转站外参照此模板 -->
        <li><a class="" href="../../static/frontend_theme/index.html" target="_blank"><i class="fa fa-desktop fa-fw"></i> <span class="menu-text">前端主题</span></a></li>

    </ul>
</div>