<!-- 继承模板页 -->
{% extends 'xmjc/base.html' %}
<!-- 设置标题 -->
{% block title %}欢迎光临可视化页面{% endblock %}
<!-- 菜单导航 -->
{% block lnav %}
<a href="{% url 'xmksh'%}">{{ lnav }}</a>
{% endblock %}



<!-- 覆盖内容块，自定义页面的内容 -->
{% block content %}

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="row">
    <div class="col-md-6 " id="test1" style="width:600px;height:400px;margin:0 auto">
    </div>
    <div class="col-md-6 " id="test2" style="width:600px;height:400px;margin:0 auto">
    </div>
</div>

<script src="/static/js/xmjs/test1.js"></script>


<!-- DATA TABLES -->
<div class="row">
    <div class="col-md-6">
        <!-- BOX -->
        <div class="box border green">
            <div class="box-title">
                <h4><i class="fa fa-table"></i>动态数据表格</h4>
                <div class="tools hidden-xs">
                    <a href="javascript:;" class="reload">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a href="javascript:;" class="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <!-- hidden-lg/md/xs/sm -->
                            <th class="center">用户名</th>
                            <th class="center">密码</th>
                            <th class="center">邮箱</th>
                            <th class="center">权限</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        {%  for user in data %}
                        <tr class="gradeB">
                            <td class="center">{{ user.username }}</td>
                            <td class="center">{{ user.userpass }}</td>
                            <td class="center">{{ user.useremail }}</td>
                            <td class="center">{{ user.usertype }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="center">用户名</th>
                            <th class="center">密码</th>
                            <th class="center">邮箱</th>
                            <th class="center">权限</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /BOX -->
    </div>
</div>
<!-- /DATA TABLES -->

<!-- {{data|safe}} -->

<script>
    jQuery(document).ready(function() {
        App.setPage("dynamic_table");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>


{% endblock %}